<div class="container">
  <!-- Start of login form container -->
  <form action="/login" method="post">
    <div class="form-group">
      <h3 class="text-center">Login</h3>
      <!-- Email address field -->
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <!-- Password field -->
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <!-- End of login form container -->
</div>