<!-- Navigation bar with a collapsible menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Brand or logo of the navigation bar -->
  <a class="navbar-brand" href="/reminders">Reminder List</a>

  <!-- Button to toggle the collapse of the menu -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <!-- Icon for the toggle button -->
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible menu -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <!-- Navigation links -->
    <div class="navbar-nav">
      <!-- Link to the reminder list page -->
      <a class="nav-item nav-link" href="/reminders">Reminder List</a>

      <!-- Link to create a new reminder -->
      <a class="nav-item nav-link" href="/reminder/new">Create</a>
      <!-- Conditional link based on user role -->
      <% if (role === 'admin') { %>
        <a class="nav-item nav-link" href="/admin">Admin</a>
      <% } %>
    </div>
  </div>
</nav>