<div class="container">
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" 
placeholder="Description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="keyword">Keyword</label>
      <textarea class="form-control" id="keywordInput" rows="3" placeholder="Keyword" 
name="keyword"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
